<%= form_for(@books_store) do |f| %>
  <% if @books_store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@books_store.errors.count, "error") %> prohibited this books_store from being saved:</h2>

      <ul>
      <% @books_store.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :book_id %><br>
    <%= f.number_field :book_id %>
  </div>
  <div class="field">
    <%= f.label :store_id %><br>
    <%= f.number_field :store_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
