<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @edition.title %>
</p>

<p>
  <strong>Livro(ID):</strong>
  <%= @edition.book_id %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @edition.number %>
</p>

<%= link_to 'Editar', edit_edition_path(@edition) %> |
<%= link_to 'Voltar', editions_path %>
